//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

$white: #f7f7f7 !default;

//$gray-darker: #333 !default;
//$gray-dark: #666 !default;
//$gray: #ccc !default;
//$gray-light: #e2e2e2 !default;
//$gray-lighter: #eee !default;

$brand-primary: #722e79 !default;
//$brand-accent: #000000 !default;

$brand-event: #cc227c !default;
$brand-agent: #2f2fbf !default;
$brand-space: #722e79 !default;
$brand-project: #cc227c !default;
$brand-opportunity: #2f2fbf !default;
$brand-developer: #722e79 !default;

//$brand-info: #40b4b4 !default;
//$brand-warning: #cc9933 !default;
//$brand-danger: #cc3333 !default;
//$brand-success: #66cc66 !default;
//$brand-default: $gray-light !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
// $body-bg:               #ffffff !default;


//** Global text color on `<body>`.
// $text-color:            $gray-darker !default;


//** Global textual link color.
//$link-color:            $brand-accent !default;


//** Link hover color same as $link-color.
//$link-hover-color:      $link-color !default;
